<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1> <!--keep in mind thar this recipe refers to recipe property in this component-->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group " appDropdown> <!-- I can use the directive AppDropdown without brackets-->
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients:
        <ul class="list-group">
            <a href="#" class="list-group-item clearfix" style="cursor: pointer" *ngFor="let ingredient of recipe.ingredients">
                <div class="pull-left">
                  <p class="list-group-item-heading"> <b> Name: </b>{{ingredient.name}} ( {{ingredient.amount}} )</p> <!--once we use ngfor we can use recipe in our template-->
                </div>
                <span class="pull-right">
                  <img src="{{ingredient.imagePath}}"  alt="{{ingredient.name}}" class="img-responsive" style="max-height: 30px;"> 
                </span>
              </a>
        </ul> 
    </div>
</div>
