<div class="row">
  <div class="col-xs-10">
      <!-- <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit> -->
      <app-shopping-edit ></app-shopping-edit>
      <hr>
     <ul class="list-group">
        <a href="#" class="list-group-item clearfix" style="cursor: pointer" *ngFor="let ingredient of ingredients">
          <div class="pull-left">
            <p class="list-group-item-heading"> <b> Name: </b>{{ingredient.name}} ( {{ingredient.amount}} )</p> <!--once we use ngfor we can use recipe in our template-->
          </div>
          <span class="pull-right">
            <img src="{{ingredient.imagePath}}"  alt="{{ingredient.name}}" class="img-responsive" style="max-height: 30px;"> 
          </span>
        </a>
     </ul>
  </div>
</div>
