<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- We are going to incorporate this part to our recipe item component. We are going to use a ngFor a pass the arguments for recipe item
            'a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">  we use ngFor to alter the dom and loop all our recipes, the structure is
            let name_you_want of name_in_your_typescript.ts
                <div class="pull-left">
                    <p class="list-group-item-heading"> <b> Name: </b>{{ recipe.name}}</p> once we use ngfor we can use recipe in our template
                    <p class="list-group-item-text"><b> Description: </b>{{recipe.description}} </p>
                </div>
                <span class="pull-right">
                    <img src="{{recipe.imagePath}}"  alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;"> Here also you can use binding [src]="recipe.imagePath"
                </span>
            </a> 
        <app-recipe-item></app-recipe-item> We want to look through all my items and use them to display my recipes
     
    <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" (recipeSelected)="onRecipeselected(recipeEl)"></app-recipe-item>  [recipe] property in the recipe item component (see recipe-item.ts it is the name next to the input) -->
    <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" ></app-recipe-item> <!--with the services we remove the eevent-->
    </div> <!--we need to implement onRecipeselected in recipe list component. Properties in brackets must be in recipe-list-item.ts. I believe if you have input [] output ()-->
</div>
